.btn {
    color: white;
    background-image: linear-gradient(#63abe8, #3B83C0);
}

.disabled.btn, .btn.disabled:hover {
    color: #919191;
    background-image: linear-gradient(#437FB2, #29577E);
}

.btn:hover {
    background-image: linear-gradient(#77bffc, #4f97d4);
}

.pressed.btn {
    color: #ebebeb;
    background-image: linear-gradient(#4f97d4, #276fac);
}