.btn {
    color: white;
    background-image: linear-gradient(#ec5555, #c42d2d);
}

.disabled.btn, .btn.disabled:hover {
    color: #848383;
    background-image: linear-gradient(#A02E2E, #711717);
}

.btn:hover {
    background-image: linear-gradient(#ff6969, #d84141);
}

.pressed.btn {
    color: #ebebeb;
    background-image: linear-gradient(#d84141, #b01919);
}