:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    box-sizing: border-box;
    margin-bottom: 1px;

}

.header {
    display: flex;
    flex-flow: row;
    padding: 4px 6px;
    // font-size: 14px;
    font-weight: 700;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    // color: #b1b1b1;
    // background: #242424;

    border-bottom: 1px solid #666;
    margin-bottom: 5px;

    font-size: 1.4rem;
    color: #aaa;
    font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
}

.title {
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 10px;
}

.fold {
    width: 10px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 10px;
    padding: 4px 10px;
}

:host[folded] .content{
    display: none;
}

:host[focused] .fold{
    color: #00a6ff;
}

:host[focused] .title{
    color: #00a6ff;
}
