:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    box-sizing: border-box;
    margin-bottom: 1px;

}

.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 4px 6px;
    font-weight: 700;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

    border-bottom: 1px solid #666;
    margin-bottom: 5px;

    color: #aaa;
    font-weight: bold;
    padding-bottom: 4px;
    cursor: pointer;
}

.left {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.close {
    text-align: center;
    padding: 0px 4px;
    width: 9px;
    transition: width .5s ease;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    // color:rgb(255, 255, 255);
    // background: white;
    border-radius: 2px;
}

.remove {
}

.title {
    text-transform: capitalize;
    margin-left: 5px;
}

.fold {
    text-align: center;
    width: 10px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 0px 5px 20px;
    font-size: 1.4rem;
}

:host[folded] .content{
    display: none;
}

:host[focused] .fold{
    color: #00a6ff;
}

:host[focused] .title{
    color: #00a6ff;
}

// size

:host.small {
    font-size: 1rem;
}

:host.small .close {
    width: 7px;
}

:host.small .close:hover {
    width: 55px;
}

:host.small .close:active {
    color: #a30000;
}

:host {
    font-size: 1.2rem;
}

.close:hover {
    color: #c80505;
    width: 65px;
}

.close:active {
    color: #a30000;
}

:host.large {
    font-size: 1.4rem;
}

:host.large .close {
    width: 11px;
}

:host.large .close:hover {
    width: 75px;
}

:host.large .close:active {
    color: #a30000;
}

:host.big {
    font-size: 1.8rem;
}

:host.big .close {
    width: 15px;
}

:host.big .close:hover {
    width: 95px;
}

:host.big .close:active {
    color: #a30000;
}

:host.huge {
    font-size: 2rem;
}

:host.huge .close {
    width: 17px;
}

:host.huge .close:hover {
    width: 115px;
}

:host.huge .close:active {
    color: #a30000;
}
