
:host {
    width: auto!important;
    height: auto!important;
    min-width: 2.6585em;
    min-height: 2.6585em;
    font-size: .9em;
    border-radius: 500rem;
    position: relative;
    color: #fff;
    text-align: center;
}

.text {
    text-align: center;
    margin-top: 2.4em;
}

:host:before {
  position: absolute;
  content: '';
  top: 0;
  border-radius: 500rem;
  border: .2em solid rgba(0,0,0,.1);
  left: 50%;
}

:host:after, :host:before {
  width: 2.2585em;
  height: 2.2585em;
  margin-left: -2.2585em/2 - 0.2em;
  margin-top: -0.1em;
}

:host:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  -webkit-animation: loader .6s linear;
  animation: loader .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #aaa transparent transparent;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:host.min {
    font-size: .4em;
}

:host.small {
    font-size: .6em;
}

:host.large {
    font-size: 1.2em;
}

:host.big {
    font-size: 1.8em;
}

:host.big .text{
    margin-top: 2.5em;
}

:host.invert {
    color: black;
}

:host.invert:before {
    // border-color: rgba(255, 255, 255, 0.5);
    border: .2em solid rgba(0,0,0,.1);
}
:host.invert:after {
    border-color: rgb(10, 10, 10) transparent transparent;
}
