:host {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 4px 4px;
    margin: 0px 4px;

    color: #aaa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

:host:hover {
    background-color: #3f3f3f;
}

:host[selected] {
    background-color: #2865c7;
}
